{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Designation Settings{% endblock %}
{% block body %}
<center>
    <h2>Designation Settings</h2>
	<div class="container">
    <form role="form" name="frm" action="{% url 'admin_designation_settings_add' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
			<label for="designation">Designation Name</label>
	        <input class="form-control" type="text"
				   id="designation" name="designation" placeholder="designation name" required="required">
		</div>
		<br><br>
	    <button type="submit" class="btn btn-success" id="bt" name="bt">Add</button>
        <button type="reset" class="btn btn-warning" id="rt" name="rt">Reset</button>
	    </table>
    </form>
	{{msg}}
	</div>
</center>
{% endblock %}