{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Designation Settings Update{% endblock %}
{% block body %}
<center>
    <h2> Designation Settings </h2>
	<div class="container">
    <form role="form" name="frm" action="{% url 'admin_designation_settings_edit' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
			<label for="designation">Designation Name</label>
	        <input class="form-control" type="text"
				   id="designation" name="designation" value="{{designation}}" required="required">
		</div>
		<br><br>
	    <button type="submit" class="btn btn-info" id="bt" name="bt">Update</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>
        <input type="hidden" name="e_id" value="{{e_id}}">

    </form>
	{{msg}}
	</div>
</center>
{% endblock %}